* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* special classes */

.padding__aplayer {
  padding: 5% 10%;
  background-color: black;
  color: #fff;
  text-align: left;
  border-bottom: 8px solid rgba(36, 28, 28, 0.596);
}

.title__sizer {
  margin-top: 20%;
  font-size: 3rem;
  font-weight: 1000;

}

.text__sizer {
  font-size: 1.7rem;
  font-weight: 400;
}
.small-clips {
  width: 26rem;
  position: absolute;
  transform: translate(20%, 40%);
  z-index: 1;
}

.stranger-clips {
  width: 22rem;
  position: absolute;
  transform: translate(34%, 30%);
  z-index: 1;
}
img {
  width: 100%;
  position: relative;
  z-index: 1;
}

/* navbar */

#navbar {
  height: 90vh;
  background-image: url(/images/IN-en-20230313-popsignuptwoweeks-perspective_alpha_website_large.jpg);
  border-bottom: 7px solid rgb(36, 28, 28);
  background-position-y: 100%;
  background-repeat: no-repeat;
}

.flex__container {
  padding: 1% 15%;
  color: white;
  display: flex;
  justify-content: space-between;
}
.navbar{
  padding: 1% 10%;
  position: relative;
  z-index: 2;
}

.navbar-brand{
  width: 15rem;
}

h1 {
  font-size: 20px;
}

select {
  font-size: 20px;
  background: none;
  color: white;
  margin: 10px;
  padding: 3px;
  border-radius: 3px;
}
.navbar__btn{
  font-size: 13px;
  margin-bottom: 3%;
  width: 5rem;
  background-color: red;
}

/* Email box */

.centered__box{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  text-align: center;
  color: #fff;
  z-index: 2;

}



/* section home-page  */

#home-page {
  height: 48vh;
}

/* netflix img  */

.home__img {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 60%;
  transform: scale(1, 2);
  border-bottom: 7px solid rgba(36, 28, 28, 0.596);
}

/* header  */

header {
  padding: 0% 10%;
  height: 5rem;
  position: relative;
  z-index: 2;
}


.netflix__logo {
  width: 14rem;
  margin-right: 50rem;
}

.home__btns {
  margin: 5px;
}

.box__2 {
  position: relative;
  transform: translateY(90%);
  text-align: center;
  z-index: 2;
  color: #fff;
}

.home__title {
  font-size: 3rem;
  font-weight: 1000;
}
.home__text {
  font-size: 1.4rem;
  font-weight: 500;
}

.email {
  background-color: rgba(0, 0, 0, 0.503);
  font-size: 1.3rem;
  color: #fff;
  border-radius: 5px;
  padding:1% 11% 1% 0%;
}
.home__btn {
  padding: 10px;
  margin: 0px 10px 10px;
  font-size: 1.5rem;
  width: 14rem;
  font-family: "Montserrat";
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.507);
  z-index: 1;
  /* backdrop-filter: blur(3px); */
}

/* questions__section  */

ul {
  list-style: none;
  margin: 4% 0;
}
li {
  background-color: rgba(117, 111, 111, 0.416);
  font-size: 1.5rem;
  padding: 2%;
  margin: 0.8%;
}

.input__section {
  text-align: center;
}

/* media quearys  */


@media (max-width: 450px) {
  .flex__container {
    padding: 1% 5%;
  }
}

@media (max-width: 1068px) {
  .padding__aplayer {
    text-align: center;
  }
  .title__sizer {
    font-size: 1.5rem;
  }
  .text__sizer {
    font-size: 20px;
    margin-top: 3%;
  }
  ul {
    text-align: left;
  }
}

@media(max-width:660px){
  .navbar{
    padding: 0 0;
  }
.navbar-brand{
  width: 7rem;
}

select {
  font-size: 10px;
  margin: 0;
  width: 5rem;
}

.navbar__btn{
  font-size: 8px;
  width: 4rem;
  margin: 7px ;
}
.home__btn{

  margin-top: 2%;
}

}